.navbar{
    width: 100%;
    position: absolute;
    padding:10px;
    background-color: rgba(241, 225, 197, 0.479);
    display: flex;
    justify-content: space-around;
   text-shadow: 1px 1px 3px rgb(226, 222, 222);
}
.navbar h4{
    color: rgb(255, 255, 255);
 
}
.navbar span{
    color: darkgreen;
}
.banner{
    width: 100%;
    height: 400px;
    background-image: url('https://wallpaperaccess.com/full/781832.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
#link{
    text-decoration: none;
}
